/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
.content-wapper{
    background-color: #d0d6db;
    padding-top: 40px;
} 

.wapper-padding {
    padding-top: 40px;
}
 
.panel .header {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}
.panel {
     background-color: #fff;
     padding: 10px;
     margin: 10px 0px;
     -webkit-box-shadow: 0 2px 6px gray;
     -moz-box-shadow:0px 2px 6px gray;
     box-shadow: 1px 2px 6px gray;
 }
 
.panel .inner {
    padding: 10px;
 }

.index-fixed-info {
   height:120px;
}
.boxshadow{
     -webkit-box-shadow: 0 2px 6px gray;
     -moz-box-shadow:0px 2px 6px gray;
     box-shadow: 1px 2px 6px gray;
}

#dynamic-to-top, #dynamic-to-top:active, #dynamic-to-top:focus, #dynamic-to-top:hover {
    outline: none;
}

#dynamic-to-top:hover {
    background: #4e9c9c;
    background: #272727 -webkit-gradient( linear, 0% 0%, 0% 100%, from( rgba( 255, 255, 255, .2 ) ), to( rgba( 0, 0, 0, 0 ) ) );
    background: #272727 -webkit-linear-gradient( top, rgba( 255, 255, 255, .2 ), rgba( 0, 0, 0, 0 ) );
    background: #272727 -khtml-linear-gradient( top, rgba( 255, 255, 255, .2 ), rgba( 0, 0, 0, 0 ) );
    background: #272727 -moz-linear-gradient( top, rgba( 255, 255, 255, .2 ), rgba( 0, 0, 0, 0 ) );
    background: #272727 -o-linear-gradient( top, rgba( 255, 255, 255, .2 ), rgba( 0, 0, 0, 0 ) );
    background: #272727 -ms-linear-gradient( top, rgba( 255, 255, 255, .2 ), rgba( 0, 0, 0, 0 ) );
    background: #272727 -icab-linear-gradient( top, rgba( 255, 255, 255, .2 ), rgba( 0, 0, 0, 0 ) );
    background: #272727 linear-gradient( top, rgba( 255, 255, 255, .2 ), rgba( 0, 0, 0, 0 ) );
    cursor: pointer;
}

#dynamic-to-top, #dynamic-to-top:active, #dynamic-to-top:focus, #dynamic-to-top:hover {
    outline: none;
}

#dynamic-to-top {
    font-family: sans-serif;
    font-size: 1em;
    color: #fff;
    display: none;
    overflow: hidden;
    width: auto;
    z-index: 90;
    position: fixed;
    bottom: 20px;
    right: 20px;
    top: auto;
    left: auto;
    font-family: sans-serif;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 17px 16px;
    border: 1px solid #000;
    background: #272727;
    -webkit-background-origin: border;
    -moz-background-origin: border;
    -icab-background-origin: border;
    -khtml-background-origin: border;
    -o-background-origin: border;
    background-origin: border;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    -icab-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.2 ), inset 0 1px 0 rgba( 255, 255, 255, .4 ), inset 0 10px 10px rgba( 255, 255, 255, .1 );
    -ms-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.2 ), inset 0 1px 0 rgba( 255, 255, 255, .4 ), inset 0 10px 10px rgba( 255, 255, 255, .1 );
    -moz-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.2 ), inset 0 1px 0 rgba( 255, 255, 255, .4 ), inset 0 10px 10px rgba( 255, 255, 255, .1 );
    -o-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.2 ), inset 0 1px 0 rgba( 255, 255, 255, .4 ), inset 0 10px 10px rgba( 255, 255, 255, .1 );
    -khtml-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.2 ), inset 0 1px 0 rgba( 255, 255, 255, .4 ), inset 0 10px 10px rgba( 255, 255, 255, .1 );
    -icab-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.2 ), inset 0 1px 0 rgba( 255, 255, 255, .4 ), inset 0 10px 10px rgba( 255, 255, 255, .1 );
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.2 ), inset 0 1px 0 rgba( 255, 255, 255, .4 ), inset 0 10px 10px rgba( 255, 255, 255, .1 );
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -icab-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
}
#dynamic-to-top span {
    display: block;
    overflow: hidden;
    width: 14px;
    height: 12px;
    background: url("up.png")no-repeat center center;
}

::-moz-selection { color:#fff; background-color:#FF6633;}
::-webkit-selection { color:#fff; background-color:#FF6633;}
::selection { color:#fff; background-color:#FF6633;}