<div class="content-wapper">
<div class="container-narrow">
   <div class="content">
          
    <div class="page-header">
      <h2>{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
        {{ content }}
      </div>
    </div>
    
  </div>
</div>
</div>

<a href="#" id="dynamic-to-top" style="display: none;"><span>&nbsp;</span></a>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
  $(window).scroll(function(){
           var sc=$(window).scrollTop();
           var rwidth=$(window).width()
          if(sc>0){
                $("#dynamic-to-top").css("display","inline");
          }else{
            $("#dynamic-to-top").css("display","none");
          }
          });
            
      $("#dynamic-to-top").click(function(){
          var sc=$(window).scrollTop();
         $('body,html').animate({scrollTop:0},500);
          });       
            
</script>